body{
    width: 800px;
    height: 800px;
    font-family: 'Inter', sans-serif;
}

a{
    font-weight: 600;
    color: black;
    text-decoration: none;
}

p{
    margin: 0;
}

.label-grid{
    display: grid;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 100%;
}

.label-grid > *:not(:last-child){
    border-bottom: 3px solid  #813992;
}

.label-grid > * {
    margin-top: 1.5em

}

.grid-container,
section{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    border: 4px solid black;
    /* border-radius: 3px; */
}

.quadrants{
    margin: 0;
    
}




main{
    margin-left: 1rem;
    display: grid;
    grid-template-columns: 360px 120px 360px;
    grid-template-rows: 70px 370px 370px 50px;
    grid-template-areas: 
            "quad1 . quad2"
            "grid1 phases1 grid2"
            "grid3 phases2 grid4"
            "quad3 . quad4"
    ;
    grid-gap: 1em 0;
}


/* POSITION GRID-AREA ITEMS */

h1.title-one{
    grid-area: quad1;
}
h1.title-two{
    grid-area: quad2;
    align-self: end;
}

h1.title-three{
   grid-area: quad3;
    
}

h1.title-four{
    grid-area: quad4;
}

.label-grid.a{
    grid-area: phases1;
}

.label-grid.b{
    grid-area: phases2;
}

.grid-container.a{
    grid-area: grid1; 
}

.grid-container.b{
    grid-area: grid2;
}

.grid-container.c{
    grid-area: grid3;
}

.grid-container.d{
    grid-area: grid4;
}


#langAndFrameworks,
#platforms,
#tools,
#techniques{
    display: grid;
    /* width: 20px;   */
}

.grid-item,
.grid-item-inner{
    position: relative;
    width: 20px;
    height: 20px;
    /* border: 1px solid black; */
}

.grid-item.row4,
.grid-item.row8,
.grid-item.row12,
.grid-item-inner.row5,
.grid-item-inner.row10,
.grid-item-inner.row15{
    border-bottom: 3px solid  #813992;
}

.data-point{
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0px;
    background-color: black;
    color: white;
}

.data-name{
    position: absolute;
    color: #fff;
    text-shadow: 2px 2px 1px black;
    font-size: 1.2em;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    height: 30px;
    padding-top: 2rem;
}

.grid-item:hover .data-name {
    visibility: visible;
    opacity: 1;
  }
  


/* .adopt{
    background-color: rgba(255, 0, 0, 0.3);
}

.trial{
    background-color: rgba(0, 255, 0, 0.3);
}

.assess{
    background-color: rgba(0, 0, 255, 0.3);
}

.hold{
    background-color: rgb(255, 165, 0, 0.3);
} */




/* SINGLE QUADRANT VIEW */

body.quadrant-view{
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: 300px 100px 410px;
    grid-template-rows: 100px 465px;
    grid-template-areas: 
            "heading heading heading"
            "sidebar . quadGrid";
}

#grid{
    display: grid;
    width: 15px;
}

aside{
    height: 100%;
    overflow-y: scroll;
    grid-area: sidebar;

}

header{
    grid-area: heading;
}

section{
    grid-area: quadGrid;
}

header#grid{
    display: none; 
}

/* section.quadrant-section{
    justify-content: flex-start;
} */

span.hide{
    display: none;
}



