* {
    box-sizing: border-box;
}

html{
    position: relative;
}

body{
    font-family: 'Inter';
    color: #040404;
    margin: 0
}

.quadrants-container{
    margin: 3em 0;
    width:max-content;
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 700px 700px;
    grid-template-areas:
            "quad1 quad2"
            "quad3 quad4"   
    ;
    gap: 5em 5em;
}

.languages{
    grid-area: quad1;

}
.platforms{
    grid-area: quad2;
}
.tools{
    grid-area: quad3;
}
.techniques{
    grid-area: quad4;
}

.grid-item{
    color: black;
    outline: black solid 1px;
}

.body-container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1208px;
}

a{
    font-weight: 600;
    color: black;
    text-decoration: none;
}

p{
    margin: 0;
}

h1{
    margin: 0;
}

.grid{
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    color: whitesmoke;
    height: 90%;
}

.grid-item,
.grid-item-inner{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item.row4,
.grid-item.row8,
.grid-item.row12,
.grid-item-inner.row5,
.grid-item-inner.row10,
.grid-item-inner.row15{
    border-bottom: 1px solid #040404;
}

.legend{
    position:absolute;
    width: 125px;
    font-size: .7rem;
    top: 10px;
    right: 0;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgb(0 0 0 / 19%) 0px 6px 16px;
}

.legend-keys{
    display: flex;
}

.legend p{
    font-weight: 600;
}

.status{
    display: inline-block;
    width: 20px;
    height: 20px;
    /* border-radius: 50%; */
    margin-bottom: .2em;
}

.data-point{
    text-align: center;
    width: 15px;
    height: 15px;
    position: absolute;
    padding: 0px;
    font-size: .75rem;
    font-weight: 600;
    border-radius: 50%;
    /* background-color: #d90429; */
    display:flex;
    justify-content: center;
    align-items: center;
}

.legend-keys .status{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #CC5500;
}

 .langAndFrameworks div .data-point{
    background-color: #93C572;
 }

 .langAndFrameworks div .status{
    border: 3px solid #93C572
 }

 .platforms div .data-point{
    background-color: #FF5733;
 }

 .platforms div .status{
    border: 3px solid #FF5733;
 }

 .tools div .data-point{
    background-color: #FFC300 ;
 }

 .tools div .status{
    border: 3px solid #FFC300;
 }

 .techniques div .data-point{
    background-color: #008080;
 }

 .techniques div .status{
    border: 3px solid #008080;
 }

.New,
.Moved-in,
.Moved-out,
.No-change{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center
}

.grid-item .New.status,
.grid-item-inner .New.status{
    border-radius: 50%;
}

.grid-item .No-change.status,
.grid-item-inner .No-change.status{
    border:none
}

.grid-item .Moved-in.status,
.grid-item-inner .Moved-in.status,
.grid-item .Moved-out.status,
.grid-item-inner .Moved-out.status{
    position: absolute;
    top: 0;
    /* border-width: 50%; */
    border-right: none;
    border-bottom: none;
    height: 50%;
    /* width: 50%; */
    padding: 2px 0 0 2px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    
}

.data-name{
    position: absolute;
    color: #040404;
    text-shadow: 2px 2px 1px white;
    font-size: 1.2em;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    height: 30px;
    padding-top: 2rem;
}

.grid-item:hover .data-name,
.grid-item-inner:hover .data-name {
    visibility: visible;
    opacity: 1;
  }
  


/* SINGLE QUADRANT VIEW */

body.quadrant-view{
    width: 100vw;
    /* N.B how to keep position sticky w/ height 100vh */
    height: 1000px;
    position: relative;
    align-items: start;
    display: grid;
    justify-content: center;
    grid-template-columns: 315px 100px 700px;
    grid-template-rows: 100px 465px;
    grid-template-areas: 
            "heading heading heading"
            "sidebar . quadGrid " ;
    gap: 50px 0 ;
}

.quadrant-section{
    width: 70%;
    height: 100%
}

aside{
    height: 100%;
    grid-area: sidebar;
}

header{
    grid-area: heading;
    align-self:center;
    justify-self: center;
}

section{
    height: 100%;
    grid-area: quadGrid;
    align-self: start;
    position: sticky;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .quadrant-section{
    align-self: center;
} */

.evalPhases{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: -1;
    
}



aside p span{
    font-size: 16px;
    line-height: 20px;
}

.Adopt,
.Trial,
.Assess,
.Hold{
    width: 100%;
    padding: 8px 8px 8px 16px;
}

.Adopt h1,
.Trial h1,
.Assess h1,
.Hold h1{
    padding-left:.5em;
    border-bottom: 4px solid #040404;
    margin-bottom: 10px;
}

.evalPhases p{
    font-weight: 700;
    font-size: 56px;
    line-height: 54px;
    text-transform: capitalize;
    letter-spacing: 15px;
    color: #E6E6E6;
}

.hide{
    display: none;
}

.always-visible{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 97%;
    padding: 1em;

}

.always-visible p span{
    padding-right: .5em;
}

p.description {
    font-size: 14px;
    line-height: 20px;
    padding: 16px 10px;
}
