* {
    box-sizing: border-box;
}

body{
    width: fit-content;
    height: max-content;
    font-family: 'Inter';
    color: #040404;
    margin: 0 auto;
}

main{
    width:max-content;
    display: grid;
    grid-template-columns: 120px 360px 100px 120px 360px;
    grid-template-rows: 70px 370px 70px  370px;
    grid-template-areas:  
            ". quad1 . . quad2"
            "phases1 grid1 . phases2 grid2"
            ". quad3 . . quad4"
            "phases3 grid3 . phases4 grid4"
    ;
    grid-gap: 1em 0;
}

a{
    font-weight: 600;
    color: black;
    text-decoration: none;
}

p{
    margin: 0;
}

h1{
    margin: 0
}

.label-grid{
    display: grid;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 100%;
}


.label-grid > * {
    margin-top: 1.5em

}





/* POSITION GRID-AREA ITEMS */

h1.title-one{
    grid-area: quad1;
}
h1.title-two{
    grid-area: quad2;
    align-self: end;
}

h1.title-three{
   grid-area: quad3;
    
}

h1.title-four{
    grid-area: quad4;
}

.label-grid.a{
    grid-area: phases1;
}

.label-grid.b{
    grid-area: phases2;
}

.label-grid.c{
    grid-area: phases3;
}

.label-grid.d{
    grid-area: phases4  ;
}

.langAndFrameworks{
    grid-area: grid1; 
}

.platforms{
    grid-area: grid2;
}

.tools{
    grid-area: grid3;
}

.techniques{
    grid-area: grid4;
}

/* .grid-container{
    width: max-content;
    margin-bottom: 2em;
} */


#langAndFrameworks,
#platforms,
#tools,
#techniques,
.quadrant-section{
    display: grid;
    border: 1px solid rgb(221, 221, 221);
    padding: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}

.grid-item,
.grid-item-inner{
    position: relative;
    width: 20px;
    height: 20px;
    /* border: 1px solid black; */
}

.grid-item.row4,
.grid-item.row8,
.grid-item.row12,
.grid-item-inner.row5,
.grid-item-inner.row10,
.grid-item-inner.row15{
    border-bottom: 1px solid #040404;
}

.data-point{
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0px;
    background-color: black;
    color: white;
}

.data-name{
    position: absolute;
    color: #040404;
    text-shadow: 2px 2px 1px white;
    font-size: 1.2em;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    height: 30px;
    padding-top: 2rem;
}

.grid-item:hover .data-name,
.grid-item-inner:hover .data-name {
    visibility: visible;
    opacity: 1;
  }
  


/* SINGLE QUADRANT VIEW */

body.quadrant-view{
    width: 800px;
    /* N.B how to keep position sticky w/ height 100vh */
    height: 1000px;
    position: relative;
    align-items: start;
    display: grid;
    grid-template-columns: 315px 100px 410px;
    grid-template-rows: 100px 465px;
    grid-template-areas: 
            "heading heading heading"
            "sidebar . quadGrid";
}

aside{
    height: 100%;
    grid-area: sidebar;

}

header{
    grid-area: heading;
    align-self:center;
    justify-self: center;
}

section{
    grid-area: quadGrid;
    align-self: start;
    position: sticky;
    top: 100px;
}

header#grid{
    display: none; 
}

.adopt,
.trial,
.assess,
.hold{
    width: 100%;
}

.Adopt,
.Trial,
.Assess,
.Hold{
    width: 100%;
    padding: 8px 8px 8px 16px;
}

.Adopt h1,
.Trial h1,
.Assess h1,
.Hold h1{
    padding-left:.5em;
    border-bottom: 4px solid #040404;
    margin-bottom: 10px;
}

.hide{
    display: none;
}

.always-visible{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 97%;
    font-weight: 800;
    padding: 1em;

}

.always-visible p span{
    padding-right: .5em;
}

p.description {
    font-size: 14px;
    line-height: 20px;
    padding: 16px 10px;
}
